{% extends "base.html" %}

{% block main %}

<!-- About Hero Section -->
<section>
    <div class="about-hero-content">
        <h1>ABOUT & ACTION</h1>
        <p>Where you can find your next film.</p>
    </div>

<!-- Our Story -->
 <section class="our-story">
    <div class="story-text">
        <h2>OUR STORY</h2>

        <p>
            & ACTION was created by movie lovers, for movie lovers.
            It creates an easy way for people to find something to watch.
        </p>

        <p>
            From timeless classics to modern hitmakers, our goal is to bring
            together great movies in one place.
        </p>

        <p>
            Movies are more than just entertainment. They create memorable experiences,
            bring people together, and inspire with stories that stay with us.
        </p>
    </div>

    <div class="story-image">
        <img src="/static/css/images/about_hero.png" alt="Movie Film Reels">
    </div>
 </section>

 <!-- Three Information Sections -->
  <section class="about-features">

    <div class="about-feature">
        <div class="feature-icons">
            <img src="/static/css/images/about_community.png">
        </div>
        <h3>OUR COMMUNITY</h3>
        <p>
            A place for movie fans to discover new films, 
            and find something worth watching.
        </p>
    </div>

    <div class="about-feature">
        <div class="feature-icons">	
            <img src="/static/css/images/about_ratings.png">
        </div>
        <h3>REAL REVIEWS</h3>
        <p>
            Explore reviews and ratings that let you 
            decide your next watch.
        </p>
    </div>

    <div class="about-feature">
        <div class="feature-icons">
            <img src="/static/css/images/about_fans.png">
        </div>
        <h3>FOR THE FANS</h3>
        <p>
            With blockbusters, lovely romances, and many more, 
            & ACTION is made for movie lovers.
        </p>
    </div>

</section>

{% endblock %}