{% extends "base.html" %}

{% block main %}

<section class="discover-page">
    <div class="section-heading">
        <h2>{{ title }}</h2>
    </div>

    <div class="discover-layout">
        <!-- Genre Sidebar -->
         <aside class="genre-sidebar">
            <h3>ALL GENRES</h3>

            <a href="/discover">All Genres</a>

            {% for genre in genres %}
                <a href="/discover?genre={{ genre }}">{{ genre }}</a>
            {% endfor %}
        </aside>

        <!-- Main Discover Content -->
        <div class="discover-content">
            <!-- Filters -->
             <div class="discover-controls">
                {% if request.args.get('genre') %}
                    <b>{{ request.args.get('genre') }}</b>
                {% else %}
                    <b>ALL GENRES</b>
                {% endif %}
                <p> </p>
                <form method="GET" action="/discover">
                    <input type="hidden" name="genre" value="{{ request.args.get('genre', '') }}">
                    <select name="sort">
                        <option value="title"
                        {% if request.args.get('sort') == 'title' %}
                                selected
                            {% endif %}>Sort By: Title</option>
                        <option value="release_year"
                        {% if request.args.get('sort') == 'release_year' %}
                                selected
                            {% endif %}>Sort By: Year</option>
                        <option value="duration_minutes"
                        {% if request.args.get('sort') == 'duration_minutes' %}
                                selected
                            {% endif %}>Sort By: Duration</option>
                    </select>

                    <select name="order">
                        <option value="asc"
                        {% if request.args.get('order') == 'asc' %}
                                selected
                            {% endif %}>Ascending</option>
                        <option value="desc"
                        {% if request.args.get('order') == 'desc' %}
                                selected
                            {% endif %}>Descending</option>
                    </select>

                    <button type="submit">Apply</button>
                </form>
             </div>

            <!-- Movie Grid -->
            <div class="movie-grid">
                {% for movie in movies %}
                <a href="/movie/{{ movie[0] }}" class="movie-card-link">
                    <article class="movie-card">
                        <div class="movie-poster">
                            <img src="/static/css/images/{{ movie[11] }}"/>
                        </div>
                        <div class="movie-details-content">
                            <h3>{{ movie[1] }}</h3>

                            <div class="movie-meta">
                                <p>{{ movie[2] }}</p>
                                <p>{{ movie[3] }}</p>
                                <p>{{ movie[8] }}&nbsp;mins</p>
                        </div>
                    </article>
                </a>
                {% else %}
                    <p>No movies were found.</p>
                {% endfor %}
            </div>

        </div>

    </div>

</section>

{% endblock %}