{% extends "base.html" %}

{% block main %}
<!-- Featured Banner -->
<section class="hero">
        <div class="hero-content">
                <h2>
                        Find Your<br>
                        Next Film.
                </h2>

                <p>
                        Curated recommendations, classic favourites, and hidden gems.
                </p>

                <a href="/discover" class="hero-button">EXPLORE MOVIES</a>
        </div>

        <div class="hero-image">
                <img src="/static/css/images/Sci-Fi.png"/>
        </div>
</section>

<!-- Recommended -->
<section id="discover">

        <div class="section-heading">
                <h2>Recommended for You</h2>
                <a href="/discover" class="view-all">VIEW ALL</a>
        </div>

        <div class="movie-grid">
                {% for movie in movies [:5] %}
                <a href="/movie/{{ movie[0] }}" class="movie-card-link">
                        <article class="movie-card">
                                <div class="movie-poster">
                                        <img src="/static/css/images/{{ movie[11] }}">
                                </div>

                                <div class="movie-card-content">
                                        <h3>{{ movie[1] }}</h3>
                                        <p>{{ movie[2] }}</p>
                                        <p>4.5 stars</p>
                                </div>
                        </article>
                </a>
                {% endfor %}
        </div>
</section>

<!-- Genres -->
<section id="genres">
        <div class="section-heading">
                <h2>Browse by Genre</h2>
        </div>

        <div class="genre-grid">
                {% for genre in genres %}
                <div class="genre-item">
                        <a href="/discover?genre={{ genre }}" class="genre-card">
                                <div class="genre-icon">
                                        <img src="/static/css/images/{{ genre }}.png"/>
                                </div>
                                <!-- <p>{{ genre }}</p> -->
                        </a>
                </div>
                {% endfor %}
        </div>
</section>

<!-- Movie Finder -->
<section class="movie-finder">
        <div>
                <h2>CAN'T DECIDE<br>WHAT TO WATCH?</h2>
                <p>
                        Browse our collection to find a film to match your mood.
                </p>

                <a href="/discover" class="hero-button">FIND YOUR NEXT FILM.</a>
        </div>

        <div class="finder-image">
                Film Image
        </div>
</section>

{% endblock %}