{% extends "base.html" %}

{% block main %}

<section>
    <div class="section-heading">
        <h2>MOVIE REVIEWS</h2>
    </div>
    <!-- Movie Grid -->
    <div class="movie-grid">
        {% for movie in movies %}
        <a href="/movie/{{ movie[3] }}" class="movie-card-link">
            <article class="movie-card">
                <div class="movie-poster">
                    <img src="/static/css/images/{{ movie[4] }}"/>
                </div>
                <div class="movie-details-content">
                    <h3>{{ movie[2] }}</h3>
                    <p>&#11088;&nbsp;{{ movie[1] }}/10</p>

                    <div class="movie-meta">
                        <p>{{ movie[0] }}</p>
                    </div>
                </div>
            </article>
        </a>
        {% else %}
            <p>No movies were found.</p>
        {% endfor %}
    </div>
</section>

{% endblock %}