{% extends "base.html" %}

{% block main %}

<!-- Movie Search Page -->
<section>

    <!-- Page Heading -->
    <div class="section-heading">
        <h2>{{ title }}</h2>
    </div>

    <!-- Movie Grid -->
    <div class="movie-grid">
        {% for movie in movies %}

        <!-- Movie Card -->
        <a href="/movie/{{ movie[0] }}" class="movie-card-link">
            <article class="movie-card">

                <!-- Movie Poster -->
                <div class="movie-poster">
                    <img 
                        src="/static/css/images/{{ movie[11] }}"
                        alt="{{ movie[1] }} Poster"
                    >
                </div>

                <!-- Movie Information -->
                <div class="movie-card-content">
                    <h3>{{movie[1] }}</h3>

                    <div class="movie-meta">
                        <p>{{ movie[2] }}</p>
                        <p>{{ movie[3] }}</p>
                        <p>&#11088;&nbsp;{{ movie[12] }}/10</p>
                    </div>

                </div>

            </article>

        </a>

        {% else %}
            <!-- Message shown when there are no matching movies -->
            <p>No movies were found.</p>
        {% endfor %}

    </div>

</section>

{% endblock %}